@font-face {
    font: {
        family: "icomoon";
        display: block;
        style: normal;
        weight: normal;
    }
    src: url("./node_modules/gzrp-server-frontend-core/fonts/icomoon.woff") format("truetype"),
    url("./node_modules/gzrp-server-frontend-core/fonts/icomoon.ttf") format("truetype");
}

@font-face {
    font: {
        family: "Roboto";
        weight: 300;
        style: normal;
    }
    src: url("./node_modules/gzrp-server-frontend-core/fonts/Roboto-Light.ttf") format("truetype");
}

@font-face {
    font: {
        family: "Roboto";
        weight: 400;
        style: normal;
    }
    src: url("./node_modules/gzrp-server-frontend-core/fonts/Roboto-Regular.ttf") format("truetype");
}

@font-face {
    font: {
        family: "Roboto";
        weight: 500;
        style: normal;
    }
    src: url("./node_modules/gzrp-server-frontend-core/fonts/Roboto-Medium.ttf") format("truetype");
}

@font-face {
    font: {
        family: "Anton";
        weight: 400;
        style: normal;
    }
    src: url("./node_modules/gzrp-server-frontend-core/fonts/Anton-Regular.ttf") format("truetype");
}