@use "mixins" as mixins;

$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-discord: "\e903";
$icon-teamspeak: "\e904";
$icon-radio: "\e900";
$icon-money-bag: "\e901";
$icon-dollar: "\e902";
$icon-credit-card: "\f09d";
$icon-feed: "\e91d";
$icon-mic: "\e91e";
$icon-user: "\e971";
$icon-lab: "\e9aa";
$icon-circle-right: "\ea42";
$icon-circle-left: "\ea44";
$icon-facebook: "\ea90";
$icon-instagram: "\ea92";
$icon-youtube: "\ea9d";

.icon {
    &::before {
        font: {
            size: var(--font-size-large);
        }
    }
}

.user {
    &::before {
        @include mixins.icon($icon-user);
    }
}

.user {
    &::before {
        @include mixins.icon($icon-user);
    }
}

.mic {
    &::before {
        @include mixins.icon($icon-mic);
    }
}

.feed {
    &::before {
        @include mixins.icon($icon-feed);
    }
}

.credit-card {
    &::before {
        @include mixins.icon($icon-credit-card);
    }
}

.dollar {
    &::before {
        @include mixins.icon($icon-dollar);
    }
}

.radio {
    &::before {
        @include mixins.icon($icon-radio);
    }
}

.teamspeak {
    &::before {
        @include mixins.icon($icon-teamspeak);
    }
}

.money-bag {
    &::before {
        @include mixins.icon($icon-money-bag);
    }
}

.flask {
    &::before {
        @include mixins.icon($icon-lab);
    }
}

.facebook {
    &::before {
        @include mixins.icon($icon-facebook);
    }
}

.discord {
    &::before {
        @include mixins.icon($icon-discord);
    }
}

.instagram {
    &::before {
        @include mixins.icon($icon-instagram);
    }
}

.youtube {
    &::before {
        @include mixins.icon($icon-youtube);
    }
}

.circle-right {
    &:before {
        @include mixins.icon($icon-circle-right);
    }
}

.circle-left {
    &:before {
        @include mixins.icon($icon-circle-left);
    }
}