@use "mixins" as mixins;

$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-waterdrop: "\e907";
$icon-discord: "\e903";
$icon-teamspeak: "\e904";
$icon-shield: "\e906";
$icon-lunch_dining: "\e905";
$icon-radio: "\e900";
$icon-money-bag: "\e901";
$icon-dollar: "\e902";
$icon-heart: "\f004";
$icon-credit-card: "\f09d";
$icon-microphone: "\f130";
$icon-feed: "\e91d";
$icon-user: "\e971";
$icon-lab: "\e9aa";
$icon-circle-right: "\ea42";
$icon-circle-left: "\ea44";
$icon-facebook: "\ea90";
$icon-instagram: "\ea92";
$icon-youtube: "\ea9d";
$icon-seat-belt: "\e908";
$icon-fuel: "\e909";

.icon {
    &::before {
        font: {
            size: var(--font-size-large);
        }
    }
}

.heart {
    &::before {
        @include mixins.icon($icon-heart);
    }
}

.icon-fuel {
    &::before {
        @include mixins.icon($icon-fuel);
    }
}

.seat-belt {
    &::before {
        @include mixins.icon($icon-seat-belt);
    }
}

.lunch {
    &::before {
        @include mixins.icon($icon-lunch_dining);
    }
}

.shield {
    &::before {
        @include mixins.icon($icon-shield);
    }
}

.waterdrop {
    &::before {
        @include mixins.icon($icon-waterdrop);
    }
}

.user {
    &::before {
        @include mixins.icon($icon-user);
    }
}

.user {
    &::before {
        @include mixins.icon($icon-user);
    }
}

.microphone {
    &::before {
        @include mixins.icon($icon-microphone);
    }
}

.feed {
    &::before {
        @include mixins.icon($icon-feed);
    }
}

.credit-card {
    &::before {
        @include mixins.icon($icon-credit-card);
    }
}

.dollar {
    &::before {
        @include mixins.icon($icon-dollar);
    }
}

.radio {
    &::before {
        @include mixins.icon($icon-radio);
    }
}

.teamspeak {
    &::before {
        @include mixins.icon($icon-teamspeak);
    }
}

.money-bag {
    &::before {
        @include mixins.icon($icon-money-bag);
    }
}

.flask {
    &::before {
        @include mixins.icon($icon-lab);
    }
}

.facebook {
    &::before {
        @include mixins.icon($icon-facebook);
    }
}

.discord {
    &::before {
        @include mixins.icon($icon-discord);
    }
}

.instagram {
    &::before {
        @include mixins.icon($icon-instagram);
    }
}

.youtube {
    &::before {
        @include mixins.icon($icon-youtube);
    }
}

.circle-right {
    &:before {
        @include mixins.icon($icon-circle-right);
    }
}

.circle-left {
    &:before {
        @include mixins.icon($icon-circle-left);
    }
}