@import "mixins";

.panel-list {
    @include rest-list();
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: var(--spacing-default);
}

.panel {
    background: {
        color: var(--grey-dark-color-75);
    }
    padding: {
        top: var(--spacing-xlarge);
        right: var(--spacing-xlarge);
        bottom: var(--spacing-xlarge);
        left: var(--spacing-xlarge);
    }
    border: {
        radius: var(--border-radius);
    }
    position: relative;
    @include deco-line-left();
    &.small {
        padding: {
            top: var(--spacing-default);
            right: var(--spacing-default);
            bottom: var(--spacing-default);
            left: var(--spacing-default);
        }
        border: {
            radius: var(--border-radius-small);
        }
    }

    > * {
        &:last-child {
            margin: {
                bottom: 0;
            }
        }
    }
}